/* Sets the jumbotron background color and text color*/
.color-jumbotron {
    background-color: #233237;
    color: #FFFFFF;
}

/* For displaying card values*/
.ready-value {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

canvas {
   display: inline;
   width: 100%;
   text-align:center;
}

/*For the add/plus card dropdown menu*/
#dropdown-card {
    display: inline-grid;
    width: 400px;
    height: auto;
    padding: 20px;
}

/*For adjusting the column count of bootstrap cards class*/
@media (min-width: 34rem) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 48rem) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

/* For the main body font*/
.body {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
}

.background-image {
    background: url(https://res.cloudinary.com/hkpq6gkkm/image/upload/v1489404378/background_lwfemk.jpg) no-repeat center fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-left {
    padding-left: 20px;
}

.padding-right {
    padding-right: 20px;
}

@keyframes blink {
    /** At the start of the animation the dot has an opacity of .2*/
    0% {
        opacity: .2;
    }
    /** At 20% the dot is fully visible and then fades out slowly*/
    20% {
        opacity: 1;
    }
    /** Until it reaches an opacity of .2 and the animation can start again*/
    100% {
        opacity: .2;
    }
}
.saving span {
    /** Use the blink animation, which is defined above*/
    animation-name: blink;
    /** The animation should take 1.4 seconds*/
    animation-duration: 1.4s;
    /** It will repeat itself forever*/
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.saving span:nth-child(2) {
    /**Third dot with a delay of .2s*/
    animation-delay: .2s;
}
.saving span:nth-child(3) {
    /**Third dot with a delay of .4s*/
    animation-delay: .4s;
}
